body, html {
	padding: 0;
	margin: 0;
}

header {
	background-color: #2d81c1;
    height: 40px;
    padding: 10px 20px;
}

header h1{
	margin: 0 auto;
	float: left;
	font-size: 25px;
    padding-top: 2px;
    color: white;
}

nav{
    display: block;
    width: 100%;
    text-align: right;
    float: right;
    height: 100%;
    margin-top: 13px;
}


ul.navbar-list{
	margin: 0;
	padding-top: 35px;
	display:none;
}

.float-right {
	float: right;
}

.menu-btn{
	border: 2px solid white;
    padding: 4px 8px 1px;
    border-radius: 4px;
    min-height: 29px;
    transition: all 0.2s ease;

}

.menu-btn:hover{
	cursor: pointer;
	border: 2px solid #bdbcbc;
	transition: all 0.5s ease;

}

.menu-btn span {
    display: block;
    width: 24px;
    height: 2px;
    margin: 5px 0;
    background: white;
    z-index: 99;
    border-radius: 10px;
}

.lvl-1 {
	-webkit-transition-duration: 0.2s;
	margin-top: 0px;
}

.lvl-1-rotated{
	-ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    z-index: -1;
    -webkit-transition-duration: 0.2s;
    margin-top: 13px !important;
}

.lvl-2 {
	-webkit-transition-duration: 0.2s;
	margin-top: 0px;
}

.lvl-2-rotated{
	-ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    z-index: -1;
    -webkit-transition-duration: 0.2s;
    margin-top: -7px !important;
}


