body, html {
	padding: 0;
	margin: 0;
}

section.container{
	padding-top: 50px;
}

.table-container{
	display: table;
	margin: 0 auto;
}

.table-column {
	display: table-cell;
	vertical-align: middle;
}

.max-desktop-size{
	max-width: 850px;
}

.float-right {
	float: right;
}

header {
	background-color: #2d81c1;
    height: 40px;
    padding: 10px 20px;
}

header h1{
	margin: 0 auto;
	float: left;
	font-size: 25px;
    padding-top: 2px;
    color: white;
}

.max-header-size{
	max-width: 960px;
	margin: 0 auto;
}

.menu-btn div {
	position: absolute;
	left: 100%;
	top: 65%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;	
    border-radius: 10px;

}

.menu-btn span {
    display: block;
    width: 24px;
    height: 2px;
    margin: 5px 0;
    background: white;
    z-index: 99;
    border-radius: 10px;
}



.menu-btn.float-right{
	border: 2px solid white;
    padding: 4px 8px 1px;
    border-radius: 4px;
    min-height: 29px;
    transition: all 0.5s ease;

}


.menu-btn.float-right:hover{
	cursor: pointer;
	background-color: #236CA5;
	border: 2px solid black;
	transition: all 0.5s ease;

}

nav{
    display: block;
    width: 100%;
    text-align: right;
    float: right;
    height: 100%;
    margin-top: 13px;
}

ul.navbar-list{
	margin: 0;
	padding-top: 35px;
	display:none;
}

.lvl-1 {
	-webkit-transition-duration: 0.2s;
	margin-top: 0px;
}

.lvl-1-rotated{
	-ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    z-index: -1;
    -webkit-transition-duration: 0.2s;
    margin-top: 13px !important;
}

.lvl-2 {
	-webkit-transition-duration: 0.2s;
	margin-top: 0px;
}

.lvl-2-rotated{
	-ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    z-index: -1;
    -webkit-transition-duration: 0.2s;
    margin-top: -7px !important;
}


